name: Build Gradle project

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v3
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run build with Gradle Wrapper
        run: ./gradlew koverXmlReport
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: reports
          path: ./ulidk-core/build/reports
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./ulidk-core/build/reports/kover/report.xml
          fail_ci_if_error: true
